body {
  margin: 0;
  font-size: 1.15em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="submit"] {
  background-color: #FF331F;
  font-size: 0.75em;
  border: 1px solid #FF621F;
  color: white;
}


input[type="submit"]:hover {
  cursor: pointer
}